body {
    background-color: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 3rem;
}

#gameContainer {
    text-align: center;
}

#gameBoard {
    border: 3px solid;
}

#scoreText {
    font-family:'Courier New', Courier, monospace;
    font-size: 5rem;
}

#resetBtn {
    background-color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}
